@font-face {
			font-family: 'Oswald';
			src: url('fonts/Oswald.ttf') format('truetype');
			
			font-family: 'Montserrat';
			src: url('fonts/Montserrat.ttf') format('truetype');
			
			font-family: 'PismoTech';
			src: url('fonts/FL Pismo Techniczne.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
	
:root {
            --primary-color: #30404d;
            --background-color:  radial-gradient(circle, #f0f0f0, #e0e0e0);
			--gradient-color: linear-gradient(145deg, #ffffff, #dcdcdc);
            --text-color: #f0f0f0;
			--header-color: #a47864;
			--footer-color: #f0f0f0;
}

.dark-theme {
            --primary-color: #f0f0f0;
            --background-color: radial-gradient(circle, #2e4757, #2a404f);
			--gradient-color: linear-gradient(145deg, #2e4757, #293f4e);
            --text-color: #f0f0f0;
			--header-color: #3c636e;
			--footer-color: #2f4858;
}
 
 /*----------------------------------------------------------------------------*/
 
 .content {
    opacity: 0; /* Ukrycie treści na początku */
    transform: translateY(20px); /* Przesunięcie w dół */
    transition: opacity 1s ease, transform 1s ease; /* Dodanie efektu płynnego pojawiania się i przesunięcia */
}

.content.show {
    opacity: 1; /* Po załadowaniu treść stanie się widoczna */
    transform: translateY(0); /* Powróci na swoje miejsce */
}
 
 /*----------------------------------------------------------------------------*/ 
 
.error {
    font-family: 'Montserrat', sans-serif;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;  
    color: #5f6368;
    font-weight: bold;
    text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
}

.footer_error{
    display: flex;
    align-items: left;
    padding: 5px;
    background-color: var(--footer-color);
    color: var(--primary-color);
    bottom: 0;
	z-index: 1000;
	align-items: center;
	padding: 20px 20px 20px 20px;
	width: 100%;
	opacity: 0.86;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0;
}

.error h1{
	font-size: 150px;
	color: #5f6368;
}

.error p{
	font-size: 15px;
	color: #5f6368;
}

.si-arrow-circle-left{
		font-size: 140px;
}

/*----------------------------------------------------------------------------*/
 
body {
    font-family: 'Oswald', sans-serif;
    background: var(--background-color);
	text-align: center;
	overflow-x: hidden;
	width: 100vw;
	background-size: cover;
	background-position: center;
	height: 100%;
	animation: gradientShift 6s ease-in-out infinite;
	background-attachment: fixed;
	

}

        .background {
            position: absolute;
            width: 100%;
            height: 80%;
            display: flex;
            flex-wrap: wrap;
            filter: blur(5px);
			z-index: -1000;
			
        }
        .bubble {
            position: absolute;
            width: 200px;
            height: 200px;
            background: var(--gradient-color);
            border-radius: 50%;
            box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
			transition: transform 0.5s ease-in-out;
        }
        .bubble:nth-child(odd) {
            width: 250px;
            height: 250px;
        }
        .bubble:nth-child(even) {
            width: 150px;
            height: 150px;
        }
        .bubble:hover {
            transform: scale(1.3);
        }		
		
h1 {
	color: var(--primary-color);
}

/*----------------------------------------------------------------------------*/

.header {
	font-size: 2vw;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;     
	background-color: var(--header-color);
	color: var(--text-color);
	font-weight: bold;
	text-align: center;
    min-height: 5vw;
    display: flex;
    flex-direction: column;
    padding: 25px 0px 25px 0px;
	min-height: 150px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	
}
.header img {
    height: 100px;
}

/*----------------------------------------------------------------------------*/

.CV {
	font-family: 'PismoTech', sans-serif;
    align-items: center;
	text-align: center;
    color: var(--primary-color);
	padding-top: 100px;
	margin: auto;
	width: 100%;
	min-height: 500px;
	padding-top: 150px;
	margin: auto;
}

        .container {
			max-width: 1000px;
            display: flex;
            padding: 25px;
			margin: auto;
			flex-wrap: wrap;
			
        }
        .photo {
            max-width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
			margin: auto;
			padding: 20px;
        }
        .photo img {
            max-width: 100%;
            height: auto;
			margin: auto;
			border-bottom: 1px solid var(--primary-color);
        }
        .text {
			font-family: 'Montserrat', sans-serif;
            max-width: 500px;
            text-align: justify;
			font-size: 18px;
			color: var(--primary-color);
			margin: auto;
			padding: 20px;
        }


.CV h1{
    font-size: 100px;
	z-index: 1000;
	color: var(--primary-color);
	text-align: center;
	margin-bottom: -25px;
	
}

.CV h2{
    font-size: 43px;
	font-weight: normal;
	z-index: 1000;
	color: var(--primary-color);
	text-align: center;
}


hr{
    border: 0;
    height: 1px;
    background-color: var(--primary-color);
}

/*----------------------------------------------------------------------------*/


.sketchfab {
	align-items: center;
	max-width: 1260px;
    margin: auto;
    text-align: center;
    overflow: hidden; /* Ukrycie nadmiaru */
    position: relative; /* Pozycjonowanie dla elementów wewnętrznych */
	padding: 50px;
	padding-bottom: 100px;
	
	/* Tworzenie proporcji 16:9 (lub innej) */
    aspect-ratio: 16 / 10; /* Automatyczna wysokość według szerokości */
}

.sketchfab iframe {
    width: 100%; /* Dostosowanie szerokości do kafelka */
    height: 100%;; /* Ustalona wysokość (możesz dostosować w razie potrzeby) */
}


/*----------------------------------------------------------------------------*/

.social {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
	gap: 25px;
    align-items: center;
	flex-wrap: wrap;
    padding: 20px 0px 100px 0px;
	max-width: 1260px;
	margin: auto;
	margin-bottom: 50px;
}

.box {
	display: flex;
    align-items: right;
	margin: auto;
	min-width: 300px;
	transition: transform 0.9s, border-radius 0.9s;
	border-top: 1px solid var(--primary-color);
}

.disc {
	display: column;
    align-items: center;
  	color: var(--primary-color);
	max-width: 960px;
	padding: 15px 15px 15px 15px;
	text-align: left;
}

.tile {
    width: 60px;
    height: 60px;
	margin: auto;
	margin-right: 10px;
	text-decoration: none;
    color: white;
	background-color: #f0f0f0;
	padding: 15px;
	border-radius: 30px;
	align-items: center;
}

.tile img {
    width: 30px;
    height: 30px;
	position: relative;

}

.box:hover {
	transform: scale(1.3);
	border-radius: 50px;
	
}

.tile:hover {
    background-color: nobe;
}

.tile img:hover {
    background-color: none;
}


/*----------------------------------------------------------------------------*/

.footer {
    display: flex;
    align-items: left;
    padding: 5px;
    background-color: var(--footer-color);
    color: var(--primary-color);
    bottom: 0;
	z-index: 1000;
	align-items: center;
	padding: 20px 20px 20px 20px;
	width: 100%;
	opacity: 0.86;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.footer, .footer_error button{
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
	text-decoration: underline;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
}


/*----------------------------------------------------------------------------*/

        .slide-up-bar {
            position: fixed;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			gap: 25px;
			align-items: center;
			flex-wrap: wrap;
            bottom: -100%;
            left: 0;
            width: 100%;
            background-color: var(--background-color);
            color: var(--primary-color);
            padding: 50px 0px 50px 0px;
            text-align: left;
            transition: bottom 0.3s;
			z-index: 1000;
			justify-content: space-around;
			
        }
        .slide-up-bar.show {
            bottom: 0;
			background: var(--background-color);
			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
        }
		
        .credits {
		align-items: center;
		width: 300px;
        }
		
		.credits p{
		font-weight: normal;
		font-size: 15px;
		text-transform: uppercase;
		
        }
		
        .credits a:link{
			color: var(--primary-color);
			text-decoration: underline;
			font-size: 25px;
			font-weight: bold;
        }	
		
        .credits a:visited{
			color: var(--primary-color);
			text-decoration: underline;
			font-size: 30px;
        }	
		
		 .credits button{
				text-align: right;
			    background: none;
				border: none;
				color: var(--primary-color);
				cursor: pointer;
				font-size: 50px;
				
        }	
		
/*----------------------------------------------------------------------------*/

.programy{
	display: flex;
	flex-direction: row;
    justify-content: space-around;
	gap: 25px;
    align-items: center;
	flex-wrap: wrap;
    padding: 30px 50px 20px 50px;
    color: var(--text-color);
	max-width: 1260px;
	margin: auto;
	background-color: var(--background-color);
	padding-bottom: 50px;

}

.icon {
    text-align: center;
    position: relative;
	
}

.icon a {
    text-decoration: none;
    transition: transform 0.3s;
}

.icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
	opacity: 0.86;
}

.icon a:hover img {
	opacity: 1.0;
    transform: scale(1.6);
}

.icon span {
    display: block;
    margin-top: 10px;
    font-size: 5px;
}

.icon a:link
{
   color: var(--primary-color);
   text-decoration: none;
}

.icon a:visited
{
   color: var(--primary-color);
}

.icon a:hover
{
   color: var(--background-color);
}

.icon a:active
{
   color: var(--background-color);
}

/*----------------------------------------------------------------------------*/

.si-circle-fill{
		font-size: 16px;
}

.si-circle-half{
		font-size: 16px;
}

.si-circle{
		font-size: 16px;
}

.si-zoom-in{
		font-size: 30px;
}

/*----------------------------------------------------------------------------*/
		
.toggle-btn {
		height: 40px;
		width: 40px;
		padding: 0;
		border-radius: 50%;
		display: flex; 
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 30px;
		right: 20px;
		z-index: 1000;
		background-color: var(--text-color);
}

#toggle-btn img{
	fill: var(--primary-color);
}

#toggle-btn img:last-child{
	display: none;
}
.darkmode #toggle-btn img:first-child{
	display: none;
}
.darkmode #toggle-btn img:last-child{
	display: block;
}

/*----------------------------------------------------------------------------*/

        .phone-container {
            position: fixed;
            top: 80px;
            right: 20px;
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .phone-number {
            background-color: var(--text-color);
            color: #5f6368;
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 16px;
            white-space: nowrap;
            position: absolute;
            right: 50px;
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .phone-button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--text-color);
            color: #5f6368;
            border: none;
            cursor: pointer;
            font-size: 18px;
            position: relative;
        }

        .phone-container:hover .phone-number {
            opacity: 1;
            transform: translateX(0);
        }

/*----------------------------------------------------------------------------*/

        .mail-container {
            position: fixed;
            top: 130px;
            right: 20px;
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .mail-number {
            background-color: var(--text-color);
            color: #5f6368;
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 16px;
            white-space: nowrap;
            position: absolute;
            right: 50px;
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .mail-button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--text-color);
            color: #5f6368;
            border: none;
            cursor: pointer;
            font-size: 18px;
            position: relative;
        }

        .mail-container:hover .mail-number {
            opacity: 1;
            transform: translateX(0);
        }

/*----------------------------------------------------------------------------*/

a:link
{
   color: #5f6368;
   text-decoration: none;
}

a:visited
{
   color: #5f6368;
}

a:hover
{
   color: #f0f0f0;
}

a:active
{
   color: #f0f0f0;
}

/*----------------------------------------------------------------------------*/

section {
  position: relative;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding-bottom: 72px;
  width: 100%;
}

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.swiper-slide {
  width: 350px;
  height: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.swiper-slide span {
  text-transform: uppercase;
  color: var(--text-color);
  background: var(--header-color);
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Oswald", sans-serif;
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-slide span:hover {
  transform: translate(0px, -15px);
  opacity: 0.86;
}


.swiper-slide h2 {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 15px 45px 0 15px;
  font-weight: bold;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/1.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/2.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/3.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/4.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/5.png)
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}


