@font-face {
			font-family: 'Oswald';
			src: url('fonts/Oswald.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
	
:root {
            --primary-color: #30404d;
            --background-color: #f0f0f0;
            --text-color: #f0f0f0;
			--header-color: #a47864;
			--footer-color: #f0f0f0;
}

.dark-theme {
            --primary-color: #f0f0f0;
            --background-color: #2f4858;
            --text-color: #f0f0f0;
			--header-color: #485068;
			--footer-color: #2f4858;
}
   
body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--background-color);
	color: var(--text-color);
	text-align: center;
	align-items: center;
}

h1 {
	color: var(--primary-color);
}

/*----------------------------------------------------------------------------*/

.header {
	font-size: 2vw;
    position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;     
	background-color: var(--header-color);
	color: var(--text-color);
	font-weight: bold;
	text-align: center;
    min-height: 5vw;
    display: flex;
    flex-direction: column;
    padding: 25px;
	min-height: 150px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
	
}
.header img {
    height: 100px;
}

/*----------------------------------------------------------------------------*/

.CV {
    display: flex;
    align-items: center;
    background-color: var(--footer-color);
    color: var(--text-color);
	padding-top: 100px;
}

.CV img {
    min-height: 300px;
	max-height: 300px;
}

.CV h1{
    font-size: 6vw;
	z-index: 1000;
	color: var(--header-color);
	
}

hr{
    border: 0;
    height: 1px;
    background-color: var(--background-color);
}

/*----------------------------------------------------------------------------*/
.footer {
    display: flex;
    align-items: left;
    padding: 5px;
    background-color: var(--footer-color);
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 1000;
}

.tile {
    text-align: center;
    position: relative;
	padding: 0px 25px 0px 25px;
}

.tile a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.tile img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.tile a:hover img {
    transform: scale(1.6);
}

.tile span {
    display: block;
    margin-top: 10px;
    font-size: 5px;
}

.tile a:link
{
   color: #5f6368;
   text-decoration: none;
}

.tile a:visited
{
   color: #5f6368;
}

.tile a:hover
{
   color: var(--background-color);
}

.tile a:active
{
   color: var(--background-color);
}

/*----------------------------------------------------------------------------*/

.programy{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 0px 0px;
    color: var(--text-color);
	max-width: 960px;
	margin: auto;
}

.icon {
    text-align: center;
    position: relative;
	
}

.icon a {
    text-decoration: none;
    transition: transform 0.3s;
}

.icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
	opacity: 0.86;
}

.icon a:hover img {
	opacity: 1.0;
    transform: scale(1.6);
}

.icon span {
    display: block;
    margin-top: 10px;
    font-size: 5px;
}

.icon a:link
{
   color: var(--primary-color);
   text-decoration: none;
}

.icon a:visited
{
   color: var(--primary-color);
}

.icon a:hover
{
   color: var(--background-color);
}

.icon a:active
{
   color: var(--background-color);
}

/*----------------------------------------------------------------------------*/
		
.toggle-btn {
		height: 40px;
		width: 40px;
		padding: 0;
		border-radius: 50%;
		display: flex; 
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 30px;
		right: 20px;
		z-index: 1000;
		background-color: var(--text-color);
}

#toggle-btn img{
	fill: var(--primary-color);
}

#toggle-btn img:last-child{
	display: none;
}
.darkmode #toggle-btn img:first-child{
	display: none;
}
.darkmode #toggle-btn img:last-child{
	display: block;
}

/*----------------------------------------------------------------------------*/

        .phone-container {
            position: fixed;
            top: 80px;
            right: 20px;
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .phone-number {
            background-color: var(--text-color);
            color: #5f6368;
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 16px;
            white-space: nowrap;
            position: absolute;
            right: 50px;
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .phone-button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--text-color);
            color: #5f6368;
            border: none;
            cursor: pointer;
            font-size: 18px;
            position: relative;
        }

        .phone-container:hover .phone-number {
            opacity: 1;
            transform: translateX(0);
        }

/*----------------------------------------------------------------------------*/

        .mail-container {
            position: fixed;
            top: 130px;
            right: 20px;
            display: flex;
            align-items: center;
            z-index: 1000;
        }

        .mail-number {
            background-color: var(--text-color);
            color: #5f6368;
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 16px;
            white-space: nowrap;
            position: absolute;
            right: 50px;
            opacity: 0;
            transform: translateX(10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .mail-button {
            height: 40px;
            width: 40px;
            padding: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--text-color);
            color: #5f6368;
            border: none;
            cursor: pointer;
            font-size: 18px;
            position: relative;
        }

        .mail-container:hover .mail-number {
            opacity: 1;
            transform: translateX(0);
        }

/*----------------------------------------------------------------------------*/

a:link
{
   color: #5f6368;
   text-decoration: none;
}

a:visited
{
   color: #5f6368;
}

a:hover
{
   color: #f0f0f0;
}

a:active
{
   color: #f0f0f0;
}

/*----------------------------------------------------------------------------*/

section {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  padding-bottom: 50px;
}

.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.swiper-slide {
  width: 350px;
  height: 500px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--primary-color);
}

.swiper-slide span {
  text-transform: uppercase;
  color: var(--text-color);
  background: var(--header-color);
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Oswald", sans-serif;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/1.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/2.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/3.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/4.png)
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(portfolio/5.png)
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

	